<div class="contacts-card contact-form-card">
    <h2 class="section-title">Обсудим ваш проект?</h2>
    <form class="contact-form" id="contact-form" method="post" action="{% url 'main:contact_submit' %}">
        {% csrf_token %}

        <div class="form-group">
            <label for="name" class="form-group-label-dark">Имя</label>
            <input type="text" id="name" name="name" class="form-group-label" required
                   minlength="2" maxlength="100">
        </div>

        <div class="form-group">
            <label for="contact" class="form-group-label-dark">Телеграм или email</label>
            <input type="text" id="contact" name="contact" class="form-group-label" required
                   pattern="^(?:@\w{5,32}|[^@\s]+@[^@\s]+\.[^@\s]+)$"
                   title="Введите Telegram (@username) или Email">
        </div>

        <div class="form-group">
            <label for="project_type" class="form-group-label-dark">Тип проекта</label>
            <select id="project_type" name="project_type" required>
                <option value="" disabled selected>Выберите тип проекта</option>
                <option value="startup-launch">Стартап-Лаунч</option>
                <option value="profi-portfolio">Профи-Портфолио</option>
                <option value="mini-store">Магазин-Мини</option>
                <option value="clinic-salon">Клиника / Салон</option>
                <option value="coffee_shop-cafe">Кофейня / Кафе</option>
                <option value="agency-atelier">Агентство / Студия</option>
                <option value="other">другое</option>
            </select>
        </div>

        <button type="submit" class="btn btn--primary">
            Отправить
        </button>
    </form>
</div>