{% load static %}

<!-- SEO-блоки -->
<title>{{ meta_title|default:'Готовые сайты для бизнеса в СПб | Создание сайтов под ключ | Евгения Фесик' }}</title>
<meta name="description"
      content="{{ meta_description|default:'Купить готовый сайт для бизнеса в СПб недорого. Шаблоны сайтов для кофеен, салонов красоты, ИП с быстрым запуском.' }}">
<meta name="keywords"
      content="{{ meta_keywords|default:'готовый сайт СПб, купить сайт Санкт-Петербург, сайт под ключ недорого СПб, шаблон сайта для бизнеса, создание сайтов быстро СПб, сайт для кофейни Санкт-Петербург, сайт для салона красоты СПб, сайт за 3 дня СПб, лендинг пейдж СПб, сайт-визитка СПб, сайт для ИП СПб, готовый шаблон сайта, быстрый запуск сайта, кастомизация сайта' }}">

<!-- Open Graph -->
<meta property="og:title"
      content="{{ meta_title|default:'Готовые сайты для бизнеса в СПб | Создание сайтов под ключ' }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{% static 'images/logo/og_image.jpg' %}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:site_name" content="Евгения Фесик - веб-разработчик">
<meta property="og:locale" content="ru_RU">

<!-- Гео-метки -->
<meta name="geo.region" content="RU-SPE">
<meta name="geo.placename" content="Saint Petersburg">
<meta name="author" content="Fesik Evgeniya">

<!-- Каноническая ссылка -->
<link rel="canonical" href="{{ request.build_absolute_uri }}">