{% load static %}

<li>
    <a href="https://t.me/Fesik_Evgeniya" class="footer__link" rel="noopener">
        <i class="fab fa-telegram-plane footer__icon"></i>
        @Fesik_Evgeniya
    </a>
</li>
<li>
    <a href="https://github.com/fesik-evgenya" class="footer__link" rel="noopener" aria-label="GitHub">
        <i class="fab fa-github footer__icon"></i>
        GitHub
    </a>
</li>
{% if contact_info.email %}
<li>
    <a href="mailto:{{ contact_info.email }}" class="footer__link">
        <i class="fas fa-envelope footer__icon"></i>
        {{ contact_info.email }}
    </a>
</li>
{% endif %}