{% load static %}
<div class="modal-overlay" id="cookiesModal" style="display: none;">
  <div class="modal-content">
    <div class="modal-header">
      <i class="fas fa-cookie-bite"></i>
      <h3 class="modal-title">Мы используем cookie</h3>
      <button class="modal-close">&times;</button>
    </div>
    <div class="modal-body">
      <p>Мы используем cookie и рекомендательные технологии для персонализации сервисов и удобства пользователей.</p>
      <p>Вы можете запретить сохранение cookie в настройках своего браузера.</p>
    </div>
    <div class="modal-footer">
      <a href="{% url 'main:privacy' %}" class="btn btn--outline">Подробнее</a>
      <button class="btn btn--primary" id="acceptCookiesBtn">Принять</button>
    </div>
  </div>
</div>