{% load static %}

<blockquote class="project-testimonial">
    <div class="quote-icon">"</div>
    <p>{{ portfolio_item.testimonial }}</p>
    <div class="testimonial-author">
        {% if portfolio_item.client_logo %}
        <div class="client-logo">
            <img src="{{ portfolio_item.client_logo.url }}"
                 alt="Логотип {{ portfolio_item.client }}"
                 loading="lazy">
        </div>
        {% endif %}
        <cite>{{ portfolio_item.client }}</cite>
    </div>
</blockquote>