<div class="form-row">
  <div class="form-group white form-group-label-light">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control" value="{{ contact.email|default:'' }}" required>
  </div>

  <div class="form-group white form-group-label-light">
    <label for="phone">Телефон</label>
    <input type="text" name="phone" id="phone" class="form-control" value="{{ contact.phone|default:'' }}" placeholder="+7 (999) 999-99-99">
  </div>
</div>

<div class="form-group white form-group-label-light">
  <label for="address">Адрес</label>
  <textarea name="address" id="address" class="form-control" rows="2">{{ contact.address|default:'' }}</textarea>
</div>

<div class="form-group white form-group-label-light">
  <label>Социальные сети</label>
  <div class="socials-container">
    <div class="social-item">
      <div class="social-icon">
        <i class="fab fa-telegram"></i>
      </div>
      <input type="url" name="telegram" class="form-control" value="{{ contact.telegram|default:'' }}" placeholder="Ссылка на Telegram">
    </div>
    <div class="social-item">
      <div class="social-icon">
        <i class="fab fa-github"></i>
      </div>
      <input type="url" name="github" class="form-control" value="{{ contact.github|default:'' }}" placeholder="Ссылка на GitHub">
    </div>
  </div>
</div>